
.notice_none {
	color: blue;
}
.notice_number {
	font-size: 18px;
	font-weight: bold;
	color: red;
	padding: 5px;
}

.index_title {
	font-weight: bold;
	font-size: large;
	padding: 15px 0 3px 15px;
}
.index_title a {
	color: red;
	text-decoration: underline;
	float: right;
}

#menu {
	width:49%;
	position: absolute;
	float: right;
	right: 0px;
	top: 60px;
}

.day_thing {
	color: red;
	padding-right: 5px;
	text-decoration: underline;
}

.day {
	color: red;
	font-weight: bold;
	font-size: large;
	padding-left: 5px;
	padding-right: 5px;
}