@import url("../dwz/themes/css/print.css") all;

/* 审批通过的案件样式 */
table.print_case {border-collapse:collapse;width: 99%;height: 99%;}
table.print_case tr {background-color: #F0EFF0;}
table.print_case td {padding:1px 2px;line-height:21px;border:solid 1px;overflow: auto;font-size: 16pt;padding: 6pt;}
table.print_case tr.title td {font-size: 18pt;font-family: "黑体";text-align: center;font-weight: bold;border: 0px;}
table.print_case tr.number td {font-size: 16pt;text-align: right;border-top: 0px;border-left: 0px;border-right: 0px;}
table.print_case tr td p {text-align: right;}
table.print_case tr th.th1 {width: 20%;}

/* 送达回证样式 */
table.print_receipt {border-collapse:collapse;width: 100%;height: 100%;}
table.print_receipt tr {background-color: #F0EFF0;}
table.print_receipt td {padding:1px 2px;line-height:21px;border:solid 1px;overflow: auto;font-size: 14pt;padding: 4pt;}
table.print_receipt tr.title td {font-size: 18pt;font-family: "黑体";text-align: center;font-weight: bold;border: 0px;}
table.print_receipt tr th.th1 {width: 20%;}
table.print_receipt tr th.th2 {width: 30%;}
table.print_receipt tr th.th3 {width: 20%;}
table.print_receipt tr th.th4 {width: 30%;}

/* 公告单样式 */
table.print_notice {border-collapse:collapse;width: 100%;height: 100%;}
table.print_notice tr {background-color: #F0EFF0;}
table.print_notice td {padding:1px 2px;line-height:21px;border:solid 1px;overflow: auto;font-size: 16pt;padding: 6pt;}
table.print_notice tr.title td {font-size: 18pt;font-family: "黑体";text-align: center;font-weight: bold;border: 0px;}
table.print_notice tr th.th1 {width: 20%;}
table.print_notice tr.tr1 td {border-bottom: 0px;}
table.print_notice tr.tr2 td {border-top: 0px;border-bottom: 0px;font-size: 16pt;padding: 6pt;text-indent: 2em;line-height: 30pt;height: 500px;vertical-align: text-top;}
table.print_notice tr.tr2 td span {padding:1px 2px;line-height:21px;overflow: auto;font-size: 16pt;padding: 6pt;text-decoration: underline;}
table.print_notice tr.tr3 td {border-top: 0px;border-bottom: 0px;text-align: right;}
table.print_notice tr.tr4 td {border-top: 0px;border-bottom: 0px;text-align: right;}
table.print_notice tr.tr5 td {border-top: 0px;border-bottom: 0px;}

/* 仲裁员选定表样式 */
table.print_arbitrator {border-collapse:collapse;width: 100%;height: 100%;}
table.print_arbitrator tr {background-color: #F0EFF0;}
table.print_arbitrator td {padding:1px 2px;line-height:21px;border:solid 1px;overflow: auto;font-size: 14pt;padding: 4pt;}
table.print_arbitrator tr.title td {font-size: 19pt;font-family: "黑体";text-align: center;font-weight: bold;border: 0px;}
table.print_arbitrator tr.number td {font-size: 9pt;font-weight:bold;text-align: center;border-top: 0px;border-left: 0px;border-right: 0px;}
table.print_arbitrator tr th.th1 {width: 20%;}
table.print_arbitrator tr th.th2 {width: 20%;}
table.print_arbitrator tr th.th3 {width: 20%;}
table.print_arbitrator tr th.th4 {width: 20%;}
table.print_arbitrator tr th.th5 {width: 20%;}

/* 下达裁决书样式 */
table.print_award {border-collapse:collapse;width: 100%;height: 100%;}
table.print_award tr {background-color: #F0EFF0;}
table.print_award td {padding:1px 2px;line-height:21px;border:solid 1px;overflow: auto;font-size: 14pt;padding: 4pt;}
table.print_award td span {padding:1px 2px;line-height:21px;border:solid 1px;overflow: auto;font-size: 14pt;padding: 4pt;}
table.print_award tr.title td {font-size: 18pt;font-family: "黑体"; text-align: center;font-weight: bold;border: 0px;}
table.print_award tr.title2 td {font-size: 12pt;font-family: "黑体"; text-align: center;font-weight: bold;border: 0px;}
table.print_award tr td.right {text-align: right;}
table.print_award tr th.th1 {width: 33%;}
table.print_award tr th.th2 {width: 33%;}
table.print_award tr td p {text-align: right;}
table.print_award tr.row {height: 66px;}

/* 受理通知书 */
table.print_notice1 {border-collapse:collapse;width: 100%;height: 100%;}
table.print_notice1 tr {background-color: #F0EFF0;}
table.print_notice1 td {padding:1px 2px;line-height:21px;overflow: auto;font-size: 16pt;padding: 6pt;}
table.print_notice1 tr th.th1 {width: 50%;}
table.print_notice1 tr.title td {font-size: 18pt;font-family: "黑体";text-align: center;font-weight: bold;border: 0px;}
table.print_notice1 tr.title2 td {font-size: 20pt;font-family: "黑体";text-align: center;font-weight: bold;border: 0px; letter-spacing: 10pt;}
table.print_notice1 tr.number td {font-size: 16pt;text-align: right;border-top: 0px;border-left: 0px;border-right: 0px;}
table.print_notice1 tr.tr1 {text-decoration: underline;}
table.print_notice1 p {text-indent: 2em;line-height: 30px;font-size: 16pt;padding: 6pt; margin: 0;}
table.print_notice1 p.ps {text-indent: 2em;line-height: 24px;font-size: 12pt;padding: 6pt; margin: 0;}
table.print_notice1 span {font-weight: bold;padding: 0 5px 0 5px; text-decoration: underline;font-size: 16pt;}
table.print_notice1 tr.tr3 td {padding-left: 3em;}
table.print_notice1 tr.tr4 {text-align: right;}

/* 组庭通知书 */
table.print_notice2 {border-collapse:collapse;width: 100%;height: 100%;}
table.print_notice2 tr {background-color: #F0EFF0;}
table.print_notice2 td {padding:1px 2px;line-height:21px;overflow: auto;font-size: 16pt;padding: 6pt;}
table.print_notice2 tr th.th1 {width: 50%;}
table.print_notice2 tr.title td {font-size: 18pt;font-family: "黑体";text-align: center;font-weight: bold;border: 0px;}
table.print_notice2 tr.title2 td {font-size: 20pt;font-family: "黑体";text-align: center;font-weight: bold;border: 0px; letter-spacing: 10pt;}
table.print_notice2 tr.number td {font-size: 16pt;text-align: right;border-top: 0px;border-left: 0px;border-right: 0px;}
table.print_notice2 tr.tr1 {text-decoration: underline;}
table.print_notice2 span {font-weight: bold;padding: 0 5px 0 5px; text-decoration: underline;font-size: 16pt;}
table.print_notice2 tr.tr2 td {text-indent: 2em;line-height: 30px;height: 300px;}
table.print_notice2 tr.tr3 td {padding-left: 3em; height: 60px;}
table.print_notice2 tr.tr4 {text-align: right;}

/* 开庭通知书 */
table.print_notice3 {border-collapse:collapse;width: 100%;height: 100%;}
table.print_notice3 tr {background-color: #F0EFF0;}
table.print_notice3 td {padding:1px 2px;line-height:21px;overflow: auto;font-size: 16pt;padding: 6pt;}
table.print_notice3 tr th.th1 {width: 50%;}
table.print_notice3 tr.title td {font-size: 18pt;font-family: "黑体";text-align: center;font-weight: bold;border: 0px;}
table.print_notice3 tr.title2 td {font-size: 20pt;font-family: "黑体";text-align: center;font-weight: bold;border: 0px; letter-spacing: 10pt;}
table.print_notice3 tr.number td {font-size: 16pt;text-align: right;border-top: 0px;border-left: 0px;border-right: 0px;}
table.print_notice3 tr.tr1 {text-decoration: underline;}
table.print_notice3 span {font-weight: bold;padding: 0 5px 0 5px; text-decoration: underline;font-size: 16pt;}
table.print_notice3 tr.tr2 td {text-indent: 2em;line-height: 30px;height: 300px;}
table.print_notice3 tr.tr3 td {padding-left: 3em; height: 60px;}
table.print_notice3 tr.tr4 {text-align: right;}
table.print_notice3 tr.tr5 td {text-indent: 3em;}
