<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.anyang.zc.arbitration.mapper.ApplicantMapper">

	<cache/>

	<sql id="applicant">
		id,name,sex,identityCard,phone,address,type,organization,post,proxy_spokesman,
		proxy_proxy1,proxy_proxy2,proxy_organization,proxy_contact,proxy_power,isApplicant,cid
	</sql>

	<select id="getMaxID" resultType="java.lang.Integer">
		select max(id) from applicant
	</select>

	<insert id="insert">
		insert into applicant(<include refid="applicant"/>)
		values(#{id},#{name},#{sex},#{identityCard},#{phone},#{address},#{type},#{organization},
			#{post},#{proxy_spokesman},#{proxy_proxy1},#{proxy_proxy2},#{proxy_organization},
			#{proxy_contact},#{proxy_power},#{isApplicant},#{cid})
	</insert>

	<select id="get" parameterType="java.lang.Integer" resultType="Applicant">
		select <include refid="applicant"/> from applicant where id = #{id}
	</select>

	<select id="getByCid" parameterType="java.lang.String" resultType="Applicant">
		select <include refid="applicant"/> from applicant
		where cid = #{cid}
	</select>

	<select id="getByCidAndIsApplicant" parameterType="java.util.Map" resultType="Applicant">
		select <include refid="applicant"/> from applicant
		where cid = #{cid} and isApplicant = #{isApplicant}
	</select>

</mapper>