<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.anyang.zc.arbitration.mapper.ArbitratorDetailMapper">

	<sql id="arbitratorDetails">id,name,post,accruedCharges,paidCharges,debtCharges,isPayInFull,description</sql>

	<insert id="insert" parameterType="ArbitratorDetail">
		insert into arbitratorDetails(<include refid="arbitratorDetails"/>)
		values(#{id},#{name},#{post},#{accruedCharges},#{paidCharges},#{debtCharges},#{isPayInFull},#{description})
	</insert>

	<select id="get" parameterType="java.lang.String" resultType="ArbitratorDetail">
		select <include refid="arbitratorDetails"/> from arbitratorDetails
		where id = #{id}
	</select>

	<select id="getByCID" parameterType="java.lang.String" resultType="ArbitratorDetail">
		select <include refid="arbitratorDetails"/> from arbitratorDetails
		where id like ${idkey}
	</select>

	<update id="update" parameterType="ArbitratorDetail">
		update arbitratorDetails
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="post != null">post = #{post},</if>
			<if test="accruedCharges != null">accruedCharges = #{accruedCharges},</if>
			<if test="paidCharges != null">paidCharges = #{paidCharges},</if>
			<if test="debtCharges != null">debtCharges = #{debtCharges},</if>
			<if test="isPayInFull != null">isPayInFull = #{isPayInFull},</if>
			<if test="description != null">description = #{description}</if>
		</set>
		where id = #{id}
	</update>

</mapper>