<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.anyang.zc.arbitration.mapper.AwardMapper">

	<sql id="awards">
		id,deliveredDate,type,cause,applicant,respondent,
		caseDate,undertaker,auditor,secretaryGeneral,director,
		secretary,firstTrial,printing
	</sql>

	<insert id="insert" parameterType="Award">
		insert into awards(<include refid="awards"/>)
			values(#{id},#{deliveredDate},#{type},#{cause},#{applicant},#{respondent},
				#{caseDate},#{undertaker},#{auditor},#{secretaryGeneral},#{director},
				#{secretary},#{firstTrial},#{printing})
	</insert>

	<select id="get" parameterType="java.lang.String" resultType="Award">
		select <include refid="awards"/> from awards
		where id = #{id}
	</select>

	<update id="update" parameterType="Award">
		update awards
		<set>
			<if test="deliveredDate != null">deliveredDate = #{deliveredDate},</if>
			<if test="type != null">type = #{type},</if>
			<if test="cause != null">cause = #{cause},</if>
			<if test="applicant != null">applicant = #{applicant},</if>
			<if test="respondent != null">respondent = #{respondent},</if>
			<if test="caseDate != null">caseDate = #{caseDate},</if>
			<if test="undertaker != null">undertaker = #{undertaker},</if>
			<if test="auditor != null">auditor = #{auditor},</if>
			<if test="secretaryGeneral != null">secretaryGeneral = #{secretaryGeneral},</if>
			<if test="director != null">director = #{director},</if>
			<if test="secretary != null">secretary = #{secretary},</if>
			<if test="firstTrial != null">firstTrial = #{firstTrial},</if>
			<if test="printing != null">printing = #{printing}</if>
		</set>
		where id = #{id}
	</update>

	<select id="count" parameterType="cn.anyang.zc.arbitration.model.PageModel" resultType="java.lang.Integer">
		select count(*) from awards  where 1=1
		<if test="keyword != null">
			and id like '${keyword}'
			or CONVERT(varchar,deliveredDate,120) like '${keyword}'
			or cause like '${keyword}'
			or applicant like '${keyword}'
			or respondent like '${keyword}'
			or CONVERT(varchar,caseDate,120) like '${keyword}'
			or undertaker like '${keyword}'
			or auditor like '${keyword}'
			or secretaryGeneral like '${keyword}'
			or director like '${keyword}'
			or secretary like '${keyword}'
			or firstTrial like '${keyword}'
			or printing like '${keyword}'
		</if>
	</select>

	<select id="search" parameterType="cn.anyang.zc.arbitration.model.PageModel" resultType="Award">
		select top ${numPerPage} <include refid="awards"/> from awards
		where id not in (select top ((${pageNum}-1)*${numPerPage}) id from awards
			<if test="orderField != null">
				order by ${orderField} ${orderDirection}
			</if>)
		<if test="keyword != null">
			and id like '${keyword}'
			or CONVERT(varchar,deliveredDate,120) like '${keyword}'
			or cause like '${keyword}'
			or applicant like '${keyword}'
			or respondent like '${keyword}'
			or CONVERT(varchar,caseDate,120) like '${keyword}'
			or undertaker like '${keyword}'
			or auditor like '${keyword}'
			or secretaryGeneral like '${keyword}'
			or director like '${keyword}'
			or secretary like '${keyword}'
			or firstTrial like '${keyword}'
			or printing like '${keyword}'
		</if>
		<if test="orderField != null">
			order by ${orderField} ${orderDirection}
		</if>
	</select>

</mapper>