<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.anyang.zc.arbitration.mapper.CaseMapper">

	<resultMap type="Case" id="caseResult">
		<id property="id" column="c_id"/>
		<result property="cause" column="cause"/>
		<result property="agreement" column="agreement"/>
		<result property="request" column="request"/>
		<result property="caseOfficer" column="caseOfficer"/>
		<result property="responsiblePersonOpinion" column="responsiblePersonOpinion"/>
		<result property="departmentOpinion" column="departmentOpinion"/>
		<result property="secretaryGeneralOpinion" column="secretaryGeneralOpinion"/>
		<result property="money" column="money"/>
		<result property="acceptCharges" column="acceptCharges"/>
		<result property="handlingCharges" column="handlingCharges"/>
		<result property="arbitrationCharges" column="arbitrationCharges"/>
		<result property="paidCharges" column="paidCharges"/>
		<result property="debtCharges" column="debtCharges"/>
		<result property="isRelief" column="isRelief"/>
		<result property="date" column="date"/>
		<result property="registerDate" column="registerDate"/>
		<result property="formationDate" column="formationDate"/>
		<result property="courtDate" column="courtDate"/>
		<result property="concludedDate" column="concludedDate"/>
		<result property="applicableProcedure" column="applicableProcedure"/>
		<result property="type" column="type"/>
		<result property="typeName" column="typeName"/>
		<result property="status" column="status"/>
		<result property="hearingRecord" column="hearingRecord"/>
		<result property="awardResult" column="awardResult"/>
		<association property="user" javaType="User" columnPrefix="u_">
			<id property="id" column="id" />
			<result property="name" column="name"/>
			<result property="username" column="username" />
			<result property="password" column="password" />
			<result property="description" column="description" />
		</association>
	</resultMap>

	<sql id="cases">c.id c_id,c.cause,c.agreement,c.request,c.caseOfficer,c.responsiblePersonOpinion,c.departmentOpinion,c.secretaryGeneralOpinion,c.money,c.acceptCharges,c.handlingCharges,c.arbitrationCharges,c.paidCharges,c.debtCharges,c.isRelief,c.date,c.registerDate,c.formationDate,c.courtDate,c.concludedDate,c.applicableProcedure,c.type,c.typeName,c.uid,c.status,c.hearingRecord</sql>
	<sql id="users">u.id u_id,u.name u_name,u.username u_username,u.password u_password,u.description u_description</sql>

	<sql id="all">
		<include refid="cases"/>,<include refid="users"/>
		from cases c left outer join users u on(c.uid = u.id)
	</sql>

	<insert id="insert" parameterType="Case">
		insert into
		cases(id,cause,agreement,request,caseOfficer,responsiblePersonOpinion,
			departmentOpinion,secretaryGeneralOpinion,money,acceptCharges,
			handlingCharges,arbitrationCharges,paidCharges,debtCharges,
			isRelief,date,registerDate,
			applicableProcedure,type,typeName,uid,status,hearingRecord)
		values(#{id},#{cause},#{agreement},#{request},#{caseOfficer},#{responsiblePersonOpinion},
			#{departmentOpinion},#{secretaryGeneralOpinion},#{money},#{acceptCharges},
			#{handlingCharges},#{arbitrationCharges},#{paidCharges},#{debtCharges},
			#{isRelief},#{date},#{registerDate},
			#{applicableProcedure},#{type},#{typeName},#{user.id},#{status},#{hearingRecord});
	</insert>

	<select id="checkCaseId" parameterType="java.lang.String" resultType="Case">
		select id from cases where id = #{id}
	</select>

	<select id="get" parameterType="java.lang.String" resultMap="caseResult">
		select <include refid="all"/>
		where c.id = #{id}
	</select>

 	<update id="update" parameterType="Case">
		update cases
		<set>
			<if test="cause != null">cause = #{cause},</if>
			<if test="agreement != null">agreement = #{agreement},</if>
			<if test="request != null">request = #{request},</if>
			<if test="caseOfficer != null">caseOfficer = #{caseOfficer},</if>
			<if test="responsiblePersonOpinion != null">responsiblePersonOpinion = #{responsiblePersonOpinion},</if>
			<if test="departmentOpinion != null">departmentOpinion = #{departmentOpinion},</if>
			<if test="secretaryGeneralOpinion != null">secretaryGeneralOpinion = #{secretaryGeneralOpinion},</if>
			<if test="money != null">money = #{money},</if>
			<if test="acceptCharges != null">acceptCharges = #{acceptCharges},</if>
			<if test="handlingCharges != null">handlingCharges = #{handlingCharges},</if>
			<if test="arbitrationCharges != null">arbitrationCharges = #{arbitrationCharges},</if>
			<if test="paidCharges != null">paidCharges = #{paidCharges},</if>
			<if test="debtCharges != null">debtCharges = #{debtCharges},</if>
			<if test="isRelief != null">isRelief = #{isRelief},</if>
			<if test="date != null">date = #{date},</if>
			<if test="registerDate != null">registerDate = #{registerDate},</if>
			<if test="formationDate != null">formationDate = #{formationDate},</if>
			<if test="courtDate != null">courtDate = #{courtDate},</if>
			<if test="concludedDate != null">concludedDate = #{concludedDate},</if>
			<if test="applicableProcedure != null">applicableProcedure = #{applicableProcedure},</if>
			<if test="type != null">type = #{type},</if>
			<if test="typeName != null">typeName = #{typeName},</if>
			<if test="awardResult != null">awardResult = #{awardResult},</if>
			<if test="arbitratorNames != null">arbitratorNames = #{arbitratorNames},</if>
			<if test="user != null">
				<if test="user.id != null">uid = #{user.id},</if>
			</if>
			<if test="status != null">status = #{status},</if>
			<if test="hearingRecord != null">hearingRecord = #{hearingRecord}</if>
		</set>
		where id = #{id}
	</update>

	<select id="getCaseByStatus" parameterType="java.lang.Integer" resultMap="caseResult">
		select <include refid="all"/>
		where status = #{status}
		order by date desc
	</select>

	<select id="getCaseByUID" parameterType="java.lang.Integer" resultMap="caseResult">
		select <include refid="all"/>
		where uid = #{uid}
	</select>

	<select id="getCaseByStatusAndUID" parameterType="java.util.Map" resultMap="caseResult">
		select <include refid="all"/>
		where c.status = #{status}
		and c.uid = #{uid}
		order by date
	</select>

	<select id="getCaseByStatusAndUID_GT" parameterType="java.util.Map" resultMap="caseResult">
		select top 20 <include refid="all"/>
		where c.uid = #{uid}
		and c.status &gt; #{status}
		order by date desc
	</select>

	<select id="getCaseByStatus_LT" parameterType="java.lang.Integer" resultMap="caseResult">
		select <include refid="all"/>
		where c.status &lt; #{status}
	</select>

	<select id="countByStatus" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(*) from cases where status = #{status}
	</select>

	<select id="countByStatusAndUID" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from cases where status = #{status} and uid = #{uid}
	</select>

	<select id="count" parameterType="cn.anyang.zc.arbitration.model.PageModel" resultType="java.lang.Integer">
		select count(*)
		from cases c left outer join users u on(c.uid = u.id)
		<if test="keyword != null">
			and (c.id like '${keyword}'
			or c.cause like '${keyword}'
			or c.agreement like '${keyword}'
			or c.request like '${keyword}'
			or c.caseOfficer like '${keyword}'
			or c.money like '${keyword}'
			or c.responsiblePersonOpinion like '${keyword}'
			or c.departmentOpinion like '${keyword}'
			or c.secretaryGeneralOpinion like '${keyword}'
			or c.money like '${keyword}'
			or c.acceptCharges like '${keyword}'
			or c.handlingCharges like '${keyword}'
			or c.arbitrationCharges like '${keyword}'
			or c.paidCharges like '${keyword}'
			or c.debtCharges like '${keyword}'
			or CONVERT(varchar,c.date,120) like '${keyword}'
			or CONVERT(varchar,c.registerDate,120) like '${keyword}'
			or CONVERT(varchar,c.formationDate,120) like '${keyword}'
			or CONVERT(varchar,c.concludedDate,120) like '${keyword}'
			or u.name like '${keyword}')
		</if>
	</select>

	<select id="search" parameterType="cn.anyang.zc.arbitration.model.PageModel" resultMap="caseResult">
		select top ${numPerPage} <include refid="all"/>
		where c.id not in (select top ((${pageNum}-1)*${numPerPage}) id from cases
			<if test="orderField != null">
				order by ${orderField} ${orderDirection}
			</if>)
		<if test="keyword != null">
			and (c.id like '${keyword}'
			or c.cause like '${keyword}'
			or c.agreement like '${keyword}'
			or c.request like '${keyword}'
			or c.caseOfficer like '${keyword}'
			or c.money like '${keyword}'
			or c.responsiblePersonOpinion like '${keyword}'
			or c.departmentOpinion like '${keyword}'
			or c.secretaryGeneralOpinion like '${keyword}'
			or c.money like '${keyword}'
			or c.acceptCharges like '${keyword}'
			or c.handlingCharges like '${keyword}'
			or c.arbitrationCharges like '${keyword}'
			or c.paidCharges like '${keyword}'
			or c.debtCharges like '${keyword}'
			or CONVERT(varchar,c.date,120) like '${keyword}'
			or CONVERT(varchar,c.registerDate,120) like '${keyword}'
			or CONVERT(varchar,c.formationDate,120) like '${keyword}'
			or CONVERT(varchar,c.concludedDate,120) like '${keyword}'
			or u.name like '${keyword}')
		</if>
		<if test="orderField != null">
			order by c.${orderField} ${orderDirection}
		</if>
	</select>

	<!-- 查询所有案件的年份集合 -->
	<select id="getAllYears" resultType="java.lang.Integer">
		select distinct year(date) from cases order by year(date)
	</select>

	<select id="caseCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from cases
		where date like '${date}'
		<if test="index == 0">and money &lt; 100000</if>
		<if test="index == 1">and money &gt;= 100000 and money &lt; 200000</if>
		<if test="index == 2">and money &gt;= 200000 and money &lt; 500000</if>
		<if test="index == 3">and money &gt;= 500000 and money &lt; 1000000</if>
		<if test="index == 4">and money &gt;= 1000000 and money &lt; 2000000</if>
		<if test="index == 5">and money &gt;= 2000000 and money &lt; 5000000</if>
		<if test="index == 6">and money &gt;= 5000000 and money &lt; 10000000</if>
		<if test="index == 7">and money &gt;= 10000000</if>
	</select>

	<select id="caseType" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from cases
		where date like '${date}'
		<if test="type == 0">and type = 0</if>
		<if test="type == 1">and type = 1</if>
		<if test="type == 2">and type = 2</if>
		<if test="type == 3">and type = 3</if>
		<if test="type == 4">and type = 4</if>
		<if test="type == 5">and type = 5</if>
		<if test="type == 6">and type = 6</if>
		<if test="type == 7">and type = 7</if>
		<if test="type == 8">and type = 8</if>
	</select>

	<select id="caseSecretary" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from cases
		where date like '${date}'
		and uid = ${uid}
	</select>

	<select id="secretaryCaseCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from cases where uid = #{uid}
		<if test="status != null">
			<!-- 未受理的案件 -->
			<if test="status == 1">and status &lt; 3</if>
			<!-- 办理中的案件 -->
			<if test="status == 2">and status &gt; 2 and status &lt; 14</if>
			<!-- 已结案的案件 -->
			<if test="status == 3">and status = 14</if>
		</if>
		<if test="type != null">
			<!-- 简易案件 -->
			<if test="type == 1">and type = 0</if>
			<!-- 普通案件 -->
			<if test="type == 2">and type = 1</if>
		</if>
		<if test="date != null">and date like '${date}'</if>
	</select>

	<!-- 三次送通知书 -->
	<select id="getCaseNotice" parameterType="cn.anyang.zc.arbitration.model.PageModelNotice123" resultMap="caseResult">
		select top ${numPerPage} <include refid="all"/>
		where c.uid = ${uid} and c.status &gt;= ${startStatus}
		and c.id not in (select top ((${pageNum}-1)*${numPerPage}) id from cases
			where c.uid = ${uid} and c.status &gt;= ${startStatus}
			<if test="orderField == null">
				<if test="startStatus == 5">order by registerDate desc</if>
				<if test="startStatus == 14">order by formationDate desc</if>
				<if test="startStatus == 16">order by formationDate desc</if>
			</if>
			<if test="orderField != null">
				order by ${orderField} ${orderDirection}
			</if>)
		<if test="orderField == null">
				<if test="startStatus == 5">order by registerDate desc</if>
				<if test="startStatus == 14">order by formationDate desc</if>
				<if test="startStatus == 16">order by formationDate desc</if>
			</if>
		<if test="orderField != null">
			order by c.${orderField} ${orderDirection}
		</if>
	</select>

	<select id="getCaseNoticeCount" parameterType="cn.anyang.zc.arbitration.model.PageModelNotice123" resultType="java.lang.Integer">
		select count(*) from cases c
		where c.uid = ${uid} and c.status &gt;= ${startStatus}
	</select>

</mapper>